.container {
  padding-left: 0;
  padding-top: 3rem;

  @include mq($until: desktop) {
    .left {
      display: none !important;
    }
  }

  .venues {
    list-style: none;

    li {
      cursor: pointer;
      margin-bottom: 3rem;

      h2 {
        padding-bottom: 1em;
      }

      .info {
        display: none;
        padding-bottom: 3rem;
        padding-top: 1rem;
      }

      .video {
      }

      &.selected {
        .info {
          display: block;
        }
      }
    }
  }

  .video {
    max-width: 100%;
  }
}
