.container {
  padding-left: 0;

  @include mq($until: desktop) {
    padding-top: 3rem;

    .left {
      display: none !important;
    }
  }

  .venues {
    list-style: none;

    li {
      cursor: pointer;
      margin-bottom: 3rem;

      h2 {
        padding-bottom: 1em;
      }

      .info {
        display: none;
        padding-bottom: 3rem;
        padding-top: 1rem;

        p:not(:first-of-type) {
          margin-bottom: 0.5em;
        }
      }

      .video {}

      &.selected {
        .info {
          display: block;
        }
      }
    }
  }

  .video {
    max-width: 100%;
  }
}