.container {
  padding-left: 0;

  @include mq($until: desktop) {
    padding-top: calc(2 * var(--outer-margin) + var(--logo-size));

    .left {
      display: none !important;
    }
  }

  .venues {
    list-style: none;

    li {
      cursor: pointer;
      margin-bottom: 3rem;

      div,
      p {
        padding-bottom: 0 !important;
      }

      h2 {
        padding-bottom: 1em;
      }

      @include mq($until: desktop) {
        h3:last-of-type {
          margin-bottom: 1rem;
        }
      }

      .info {
        @include mq($from: desktop) {
          display: none;
          //padding-bottom: 3rem;
        }

        padding-top: 1rem;

        p:not(:first-of-type) {
          margin-bottom: 0.5em;
        }
      }

      @include mq($until: desktop) {
        .video,
        .picture,
        .image {
          width: 100%;
          object-fit: contain;
        }
      }

      @include mq($from: desktop) {
        .video,
        .image {
          display: none;
        }
      }

      &.selected {
        .info {
          display: block;
        }
      }
    }
  }

  .video {
    max-width: 100%;
  }
}
