.article {
  display: flex;
  flex-direction: row;

  p {
    padding: 0;
  }

  @include mq($until: desktop) {
    flex-direction: column;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    height: 100dvh;

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }

  .left {
    figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: 11vw;
      width: 100%;

      @include mq($until: tablet) {
        padding-right: calc(var(--outer-margin) + 0.95 * var(--logo-size));
        padding-left: var(--outer-margin);
        padding-top: calc(var(--outer-margin) + 1.05 * var(--logo-size));
        padding-bottom: var(--logo-size);

        height: auto;
      }

      img {
        object-fit: contain;
        height: 100% !important;
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
      }
    }

    h1 {
      display: none;
      padding-left: var(--outer-margin);
      padding-top: calc(var(--outer-margin) + 1.05 * var(--logo-size));
    }
  }

  .right {
    @include mq($until: desktop) {
      padding-left: var(--outer-margin);
      padding-right: calc(2 * var(--outer-margin) + var(--logo-size));
      padding-bottom: calc(2 * var(--outer-margin) + var(--logo-size));
    }

    @include mq($from: desktop) {
      padding-right: calc(2 * var(--logo-size));
    }

    h1 {
      @include mq($until: desktop) {
        margin-bottom: calc(var(--outer-margin) + 0.4 * var(--logo-size));
      }

      @include mq($from: desktop) {
        margin-bottom: calc(var(--outer-margin) + 0.4 * var(--logo-size));
      }
    }
  }
}