.article {
  display: flex;
  flex-direction: row;

  p {
    padding: 0;
  }

  @include mq($until: tablet) {
    flex-direction: column;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    height: 100vh;
  }

  .left {
    figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      padding: 11vw;

      @include mq($until: tablet) {
        padding: 0;
        height: auto;
      }

      img {
        object-fit: contain;
        height: 100% !important;
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
      }
    }
  }

  .right {
    padding-right: calc(2 * var(--logo-size));

    h1 {
      margin-top: calc(var(--outer-margin) + 0.5 * var(--logo-size));
      margin-bottom: calc(var(--outer-margin) + 0.4 * var(--logo-size));
    }
  }
}
