.intro {
  --interval: 1000ms;

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 2 * var(--outer-margin));
  height: calc(100vh - 2 * var(--outer-margin));
  margin: var(--outer-margin);
  z-index: var(--z-what-is-a-home);
  pointer-events: none;

  h1 {
    position: absolute;
    text-transform: uppercase;
    line-height: 1;
    z-index: 1000;
    color: var(--blue);
    opacity: 0;
    animation-name: show;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &:nth-child(1) {
      top: -0.1em;
      left: 0;
      animation-delay: calc(1 * var(--interval));
    }

    &:nth-child(2) {
      top: 0;
      right: -0.1em;
      writing-mode: vertical-rl;
      animation-delay: calc(2 * var(--interval));
    }

    &:nth-child(3) {
      bottom: -0.1em;
      left: 0;
      animation-delay: calc(3 * var(--interval));
    }

    @keyframes show {
      to {
        opacity: 1;
      }
    }
  }
}