.intro {
  --interval: 700ms;

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: var(--outer-margin);
  z-index: var(--z-what-is-a-home);
  pointer-events: none;
  width: calc(100vw - 2 * var(--outer-margin));
  height: calc(100vh - 2 * var(--outer-margin));

  @include mq($until: desktop) {
    height: calc(100vh - 2 * var(--outer-margin) - 70px);
  }

  @supports (height: 100dvh) {
    height: calc(100dvh - 2 * var(--outer-margin));
  }

  transition: height 0.1s ease-out;

  h1 {
    position: absolute;
    text-transform: uppercase;
    line-height: 1;
    z-index: 1000;
    color: var(--blue);
    opacity: 0;
    animation-name: show;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: var(--interval);
    font-size: var(--logo-size);
    font-weight: 500;
    letter-spacing: -0.025em;

    a {
      color: var(--blue);
      pointer-events: all;
    }

    &:nth-child(1) {
      top: -0.1em;
      left: 0;
      animation-delay: calc(1 * var(--interval));
    }

    &:nth-child(2) {
      top: 0;
      right: -0.2em;

      @include mq($from: desktop) {
        right: -0.1em;
      }

      writing-mode: vertical-rl;
      animation-delay: calc(2 * var(--interval));
    }

    &:nth-child(3) {
      bottom: -0.1em;
      left: 0;
      animation-delay: calc(3 * var(--interval));
    }

    @keyframes show {
      to {
        opacity: 1;
      }
    }
  }
}
