.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  height: var(--navbar-height);
  margin-right: var(--outer-margin);

  svg {
    animation: rotate 0.3s linear infinite;

    path {
      fill: var(--black);
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}