.navbar {
  position: fixed;
  bottom: var(--outer-margin);
  right: var(--outer-margin);
  z-index: var(--z-navbar);

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      padding-left: 1rem;
      &.active,
      &:hover {
        a {
          color: var(--blue);
        }
      }
      &:last-child {
        padding-right: calc(6vw / 2);
      }
    }
  }
}
