.navbar {
  position: fixed;
  bottom: 0;
  right: var(--outer-margin);
  z-index: var(--z-navbar);
  transition: opacity 0.25 ease-in-out;
  opacity: 1;
  background-color: var(--background);
  height: calc(1rem + (2 * var(--outer-margin)));
  width: 50%;

  &.intro {
    opacity: 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    @include mq($from: desktop) {
      justify-content: flex-end;
      align-items: center;
    }

    height: 100%;

    li {
      @include mq($from: desktop) {
        padding-left: 1rem;
      }

      &.active,
      &:hover {
        a {
          color: var(--blue);
        }
      }

      &:last-child {
        padding-right: calc(6vw / 2);
      }
    }
  }

  @include mq($until: desktop) {
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: opacity 0.5s linear;
    opacity: 0;

    &.open {
      opacity: 1;
    }

    ul {
      padding-top: calc(var(--logo-size) + 4 * var(--outer-margin));
      padding-left: var(--logo-size);
      flex-direction: column;

      li {
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }
  }
}

.background {
  width: 100%;
  background-color: var(--white);
  height: calc(var(--navbar-height) + var(--outer-margin));
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.hamburger {
  position: fixed;
  bottom: 0.2rem;
  right: 0.2rem;
  width: 48px;
  height: 48px;
  z-index: var(--z-hamburger);

  @include mq($from: desktop) {
    display: none;
  }
}
