//@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
$body-font: "inter", Arial, Helvetica, Sans-Serif;
$headline-font: "inter", Arial, Helvetica, Sans-Serif;

@font-face {
  font-family: "inter";
  src: url("../public/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../public/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
