html,
body {
  font-size: 15px;
  font-weight: normal;

  @include mq($from: desktop) {
    font-size: 1.3vw;
  }

  @include mq($from: wide) {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  strong {
    //font-weight: normal;
  }
}

h1,
h2 {
  font-weight: 500;
  padding-bottom: var(--space);
  line-height: 1.25;
  font-family: $headline-font;
}

h3 {
  font-size: 1.8rem;
  font-family: $headline-font;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.2;
  font-weight: 500;
  @include mq($from: desktop) {
    font-size: 2.5rem;
  }
}

p {
  line-height: 1.35;
}

p.intro,
.intro p,
.intro {
  font-size: 1.1rem;
  padding-bottom: 0;
  font-weight: normal;
  line-height: var(--line-height);
}

nav,
button,
h1,
h2,
.small {
  font-family: $headline-font;
  font-size: 0.85rem;
  font-weight: 700;
  @include mq($from: desktop) {
    font-size: 0.8rem;
  }
}

strong,
b {
  font-weight: bold;
}

// För Article
article {
  ul p {
    padding-left: 0;
  }

  p + h3,
  ul + h3,
  ul + h2,
  p + h2 {
    padding-top: 1rem;
  }

  p strong,
  p b {
    font-weight: 700 !important;
  }
}

button {
  font-family: $headline-font;
}

em,
i {
  font-style: italic;
}
